*{
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	font-weight: bold;
	opacity: 0.9;
}

.downtown{
	width: 300px;
	height: 300px;
}

header{
	display: flex;
	width: 100%;
	height: 69px;
	position: fixed;
	border-bottom: 1px solid seashell;
	z-index: 5;
}

.landing{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 700px;
	width: 100%;
	overflow: hidden;
}

.landingBanner{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1200px;
	position: absolute;
	z-index: 2;
	text-align: center;
	
}

.locationContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.location{
	display: block;
	height: 500px;
	width: 75%;
	margin: 0 auto;
	
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.location h2{
	background-color: transparent;
	text-align: center;
	padding-top: 40px;
}


.logo img{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 50px;
	margin: 10px;
}

nav{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
}


.navLinks{
	display: flex;
	text-decoration: underline;
}

.navLinks span{
	padding: 10px;
}

.teaContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

.teas{
	text-align: center;
	width: 1000px;
	height: 100%;
}

.teaSelection div{
	display: inline-flex;
	flex-direction: column;
	padding: 10px;
}

.teaSelection img{
	width: 300px;
	height: 200px;
}

.teaSelection p{
	margin-top: 10px;
}
